{% extends "base.html" %}

{% block title %}Add Item - {{ super() }}{% endblock %}

{% block content %}
<h2>Add New Item</h2>
<form method="post" enctype="multipart/form-data">  {# Important for file uploads #}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
         {% if form.name.errors %}
            <ul class="errors">
            {% for error in form.name.errors %} <li>{{ error }}</li> {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.room.label }} {{ form.room(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cost.label }} {{ form.cost(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.bought_by.label }} {{ form.bought_by(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.purchase_date.label }} {{ form.purchase_date(class="form-control") }}
    </div>
     <div class="form-group">
        {{ form.is_new.label }} {{ form.is_new(class="form-check-input") }}
    </div>
    <div class="form-group">
        {{ form.category.label }} {{ form.category(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.image.label }} {{ form.image(class="form-control") }}
        {% if form.image.errors %}
            <ul class="errors">
                {% for error in form.image.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {{ form.submit(class="btn btn-primary mt-3") }}
</form>
{% endblock %}
